@import url('https://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
}

main {
    max-width: 900px;
}

.formcontainer {
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
}

.formcontainer > form {
    margin-top: 0;
}

form {
    margin-top: 0.5em;
    display: flex;
}

input {
    padding: 0.5em;
    border-radius: 5px;
}

input[type="text"] {
    margin-right: 0.5rem;
}

button {
    margin-right: 0.5rem;
}

.toggle {
    height: 2rem;
    width: 2rem;
}

.btn {
    padding: 5px;
    border-radius: 0.5em;
}

.red  {
    background-color: #dc3545;
}

.teal {
    background-color: #17a2b8;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
  
input[type=checkbox] {
    display: none;
}
  
input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.footerstart {
    margin-top: 1rem;
}